<h2><b>Hello!</b></h2>
<p>What are you going to do today?</p>
<br>
<%= button_to "Manage groups", student_groups_path, :method => :get %>
<br>
<%= button_to "Manage students", students_path, :method => :get %>
<br>
<%= button_to "Manage projects", projects_path, :method => :get %>
<br>
<%= button_to "See evaluation submissions", home_page_evaluation_path, :method => :get %>
<br>
<%= link_to "Back to Home Page", home_page_home_path %>
