<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <% if logged_in? %>
    <%= link_to "Peer Evaluation Tool", home_page_home_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", home_page_home_path %></li>
        <li><%= link_to "Log In", users_index_path %></li>
      </ul>
    </nav>
    <% else %>
    <%= link_to "Peer Evaluation Tool", users_index_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", users_index_path %></li>
      </ul>
    <% end %>
    </nav>
  </div>
</header>